.chapcard{
    color:black;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.chapcard:hover{
    color:black;
    text-decoration: none;
    background-color: rgb(241, 240, 240);
}
.flag{
    padding-left: 2%;
}